<form action="/users" method="POST">
  <label>Email Address:<input type="text" name="email_address"></label>
  <label>Username:<input type="text" name="username"></label>
  <label>Password:<input type="text" name="password"></label>
  <button type="submit">Register</button>
</form>